<!DOCTYPE html>
<html>
<head>
	<title>Chatbot</title>
</head>
<body>
	<h1>Chatbot</h1>
	<div id="chatbox"></div>
	<form action="" onsubmit="return false;">
		<input type="text" id="usermsg" autocomplete="off">
		<button type="submit" onclick="send_msg()">Send</button>
	</form>
</body>
<script>
	function send_msg() {
		var usermsg = document.getElementById("usermsg").value;
		document.getElementById("usermsg").value = "";
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var botmsg = this.responseText;
				var chatbox = document.getElementById("chatbox");
				var userdiv = document.createElement("div");
				userdiv.className = "usermsg";
				userdiv.innerHTML = "<b>You:</b> " + usermsg;
				var botdiv = document.createElement("div");
				botdiv.className = "botmsg";
				botdiv.innerHTML = "<b>Chatbot:</b> " + botmsg;
				chatbox.appendChild(userdiv);
				chatbox.appendChild(botdiv);
			}
		};
		xhttp.open("GET", "/get?msg="+usermsg, true);
		xhttp.send();
	}
</script>
</html>
